{% extends 'base.html' %}
{% block content %}



    <h1>About the Finch Collector</h1>
    <hr>
    <p>Finches are one of the most diverse and colorful bird species, and we are passionate about sharing our knowledge and love for them with others. Whether you are a seasoned collector or a beginner looking to start your own finch collection, our website has everything you need to know about caring for these birds and creating a safe and comfortable environment for them.</p>
    <footer>All Rights Reserved, &copy; 2022 Finch Collector</footer>

{% endblock %}